{
	"root": true,
	"env": {
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"parser": "babel-eslint"
	},
	"extends": ["prettier", "plugin:prettier/recommended", "plugin:vue/base"],
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "warn",
		"eqeqeq": "warn"
	},
	"ignorePatterns": [".vue"]
}
